version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    image: sanzhark/laravel-app:1.0
    container_name: laravel_app
    restart: unless-stopped
    working_dir: /var/www
    ports:
      - "8000:8000"
    environment:
      DB_CONNECTION: pgsql
      DB_HOST: db
      DB_PORT: 5432
      DB_DATABASE: laravel_db
      DB_USERNAME: sanzhar
      DB_PASSWORD: secret_password
    networks:
      - devops_network
    depends_on:
      - db

  db:
    image: postgres:15
    container_name: postgres_db
    restart: unless-stopped
    environment:
      POSTGRES_DB: laravel_db
      POSTGRES_USER: sanzhar
      POSTGRES_PASSWORD: secret_password
    volumes:
      - db_data:/var/lib/postgresql/data
    networks:
      - devops_network
    ports:
      - "5432:5432"

networks:
  devops_network:
    driver: bridge

volumes:
  db_data:
